<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coronavirus Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Coronavirus Analysis</h1>
<div class="container">
    <p><a href="/v2">Angular test</a></p>
    <p><a href="/table/week">Table of week confirmed cases</a></p>
    <p><a href="/table/day">Table of day confirmed cases</a></p>
    <p><a href="/table/per_million">Table of week confirmed cases to 1 Million population</a></p>
    <p><a href="/table/v2/day/Italy">Table of all day parameters of any country</a></p>
    <p><a href="/table/v2/week/Italy">Table of all week parameters of any country</a></p>


    <p><a href="/chart-all?countries=Ukraine;China;Italy;Poland;Romania;Germany;Russia;Moldova;Belarus;Japan">Charts of
        confirmed cases of Ukraine neighbors (+ China, Italy, Germany, Japan)</a>
    <p><a href="/chart-all">Charts of confirmed cases of All countries</a>
    <p><a href="/chart_per_mln?countries=Ukraine;China;Italy;Poland;Romania;Germany;Russia;Moldova;Belarus;Japan">Confirmed
        cases per Million of population (Ukraine and neighbors + China, Italy, Germany, Japan)</a>
    <p>
        <a href="/chart_per_mln?countries=Liechtenstein;Spain;Ukraine;China;Italy;Luxembourg;Poland;Romania;Switzerland;Germany;United Kingdom;Egypt;Andorra;San Marino;Iceland;Russia;Moldova;Belarus;Japan">Confirmed
            cases per Million of population (top)</a>

    <p><a href="/chart_per_mln">Confirmed cases per Million of population (All countries)</a>
</div>
</body>
</html>
