<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Week Summary Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <!--        <th th:text="${data[0].dayOneParameterSummaryList[data[0].dayOneParameterSummaryList.size()-1].date}>Date</th>-->

        <th>Last Date</th>
        <th>Population</th>
        <th>Confirmed Cases</th>
<!--        <th>Confirmed Cases in Million of population</th>-->
    </tr>
    </thead>
    <tbody>

    <tr th:each="countryOneParameterData:${data}">
        <td th:text="${countryOneParameterData.country}">Country</td>
        <td th:text="${countryOneParameterData.population}">Population</td>
        <td th:text="${countryOneParameterData.dayOneParameterSummaryList.get(0).date}">count</td>
    </tr>

    </tbody>
</table>
</body>
</html>